body {
    background-color:whitesmoke;
}

.header{
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
}

.subHeader{
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
}

.newTask{
    padding-bottom: 20px;
}
